@font-face {
    font-family: new york;
    src:url("New York Line.otf");
}


h1{
    text-align: center;
    font-size:3.0em;
    color:whitesmoke;
    font-family: new york;
} 


h2{ 
    color: whitesmoke;
    font-size:2.0em;
    background-color: #2B3339;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 1s;
    text-align:center;
} 

h2:hover{
         color:skyblue;
	} 
.button {
		background-color: #3E4850;
		border: 1px solid black;
		border-radius: 3px;
		color: black;
		padding: 2px 15px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
}
.button:hover {
		background-color: #6A6ABF;
		color: #BFBFBF;
}
#right {
	grid-column-start: 3;
	text-align: right;
 }
#Goal{ 
    text-align: left;
    background-color:skyblue;
    color:whitesmoke;
	font-size:1.0em;   
	height:400px;
    width: 400px;
    font-family: new york;
    position:relative;
    top:0px;
	float: right;
	border-color: dimgrey;
}


#Logo{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
	background-color: darkslategrey;
}

#Title{
	visibility: hidden;
}

img{
    width:40%;

}
p{ 
    text-align: center;
    text-decoration: silver;
} 

h4{
	font-size: 12345%; 
}


.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);		
	}
	
}


#body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	padding-top: 40px;
	position: relative;
	width: 960px;
  }
  
  .bullet { 
	  font: 10px sans-serif; 
  }
  .bullet .marker { 
	  stroke: #000; 
	  stroke-width: 2px; 
  }
  .bullet .tick line { 
	  stroke: #666; 
	  stroke-width: .5px; 
  }
  .bullet .range.s0 { 
	  fill: #eee; 
  }
  .bullet .range.s1 { 
	  fill: #ddd; 
  }
  .bullet .range.s2 { 
	  fill: #ccc; 
  }
  .bullet .measure.s0 { 
	  fill: lightsteelblue; 
  }
  .bullet .measure.s1 { 
	  fill: steelblue; 
  }
  .bullet .title { 
	  font-size: 14px; font-weight: bold; 
  }
  .bullet .subtitle { 
	  fill: #999; 
  }







