body {
    margin: 0em;
    padding: 0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e3e3e8;
}

hr {
    width: 95%;
    color: black;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button {
    background-color: #797992;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: #6A6ABF;
    color: #BFBFBF;
}

#menu-bar {
    background-color: #72728D;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 4.5em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

#menu-bar div h1, 
#menu-bar div h4 {
    margin: 0em;
    text-shadow: 2px 2px rgb(102, 102, 153);
}

#left {
    grid-column-start: 1;
    text-align: left;
}

#left img {
    width: 5em;
}

#center {
    grid-column-start: 2;
    text-align: center;
}

#right {
   grid-column-start: 3;
   text-align: right;
}

#right p {
    margin: 0.25em;
}

#text {
    width: 80%;
    padding: 1em;
    justify-items: center;
}

#screenshot {
    text-align: center;
    padding: 0.5em;
}

#screenshot img {
    width: 100%;
    height: 90%;
}