#all {
    padding: 1em;
    text-align: center;
}

input {
    margin-bottom: 2em;
    border-radius: 10px;
    border-color: #5577E3;
    background: none;
    text-align: center;
    height: 1.5rem;
    width: 15rem;
    outline: none;
    transition: .5s;
}
input:hover {
    border-color: #5577E3;
    border-color: #55E368;
    width: 20rem;
    border-radius: 24px;
}

